<div class="container">        <!-- 全体を囲むコンテナ -->

  <div class="jumbotron text-white"
       style="background:url(images/oshi-log top.jpeg);background-size:cover;text-shadow: 2px 2px 4px #666;">
    <h1 class="mb-1">推しログ</h1>
    <p>My “oshi” is the reason why I am alive and the purpose of my life.</p>
  </div>
  
　<div class="d-grid gap-2 col-6 mx-auto">
  　<p><%= link_to "Log in", new_customer_session_path, class: "btn btn-block btn-info" %></p>
  　<p><%= link_to "Sign up", new_customer_registration_path, class: "btn btn-block btn-success" %></p>
  　<p><%= link_to "Guest sign in", homes_guest_sign_in_path, method: :post, class: "btn btn-block btn-secondary" %></p>
　</div>
</div>
